.mealOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

@keyframes slideIn {
  from {
    transform: translateY(20%);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mealPopUp {
  height: 90vh;
  width: 40%;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 2000;
  overflow-y: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  animation: slideIn 0.4s ease-in;
}

.mealPopUp h1 {
  margin-block: 10px;
}

.mealPopUp img {
  height: 420px;
  width: 100%;
  object-fit: cover;
}

.mealPopUp h1,
.mealPopUp p {
  margin-inline: 20px;
}

