div.minusAndPlus {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  margin-block: 18px;
}
button.minus,
button.plus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 26px;
}

p.quantity {
  font-size: 22px;
}
