div.cart {
  width: 100%;
  padding-block: 70px;
}

div.cartChild {
  width: 70%;
  margin: auto;
  /* background-color: red; */
}

div.yourCartMain {
  padding: 50px;
  width: 70%;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* div.yourCartMain div:first-of-type {
  background-color: firebrick;
} */

div.yourCartMain h1 {
  font-size: 30px;
  margin-bottom:20px;
}

div.yourCartMain p {
  font-size: 15px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

div.yourCartMain .item {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 200px;
  /* background-color: lightblue; */
}
