div.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 16px;
  background-color: var(--main);
  padding-block: 100px 40px;
  position: relative;
}

div.navigation::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #c5c6c7;
}

div.searchBarParent {
  width: 68%;
  height: 90%;
  display: flex;
  gap: 0px;
  align-items: center;
  position: relative;
}
div.links {
  padding-left: 10px;
  position: relative;
}

div.links ul {
  display: flex;
  gap: 36px;
  padding-left: 10px;
}

div.links li {
  font-weight: 1000;
  position: relative;
}

div.links li::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  background-color: black;
  bottom: -20%;
  left: 0;
  transition: 0.4s;
}

div.links li:hover::after {
  width: 100%;
}

div.links li:hover {
  cursor: pointer;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

div.dropdown {
  padding: 20px;
  width: 150px;
  position: absolute;
  right: -10%;
  top: 100%;
  z-index: 56;
  background-color: var(--main);
  border: 1px solid #c5c6c7;
  animation: slideIn 1s ease-in-out;
}

div.dropdown ul {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
