
div.cartContainer {
  position: relative;
}

div.cartContainer:not(:first-of-type)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  bottom: 120%;
}
