div.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

div.header ul {
  align-self: center;
  width: 40%;
  display: flex;
  justify-content: center;
}

div.header ul li {
  padding: 5%;
  display: inline;
  font-size: 18px;
}

div.header ul li a {
  color: #605e5e;
}
