div.options {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 10px;
  position: relative;
}

div.options span {
  position: absolute;
  display: flex;
  right: 5%;
}

div.options span:hover {
  cursor: pointer;
}
