@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif !important;
}

:root {
  --main: '#F6F7F9'
}

.scrollLock {
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}
